body {
  white-space: nowrap;
}

.container {
  padding: 40px 20px;
}

.input {
  display: flex;
  gap: 10px;
}

.inputTaskArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.tasksTable {
  margin-top: 30px;
  width: 100%;
  &_th {
    text-align: left;
  }
}

.filteringArea {
  margin-top: 30px;
}
